<!-- Cards -->
<div>
  <h1>Bienvenue sur votre site web LYCS ALLIO. Nous sommes là pour vous aider à vous rapprocher de vos clients.</h1>
  <h2>Pour pouvoir profiter pleinement de nos offres et services, veuillez vous inscrire ou vous connecter. Vous aurez ainsi accès à toutes nos fonctionnalités.</h2>
</div>
<div class="image-container" style="text-align:left; justify-content: space-between; display:flex " >
  <div class="col-lg-4" *ngFor="let card of cards">
    <mat-card class="overflow-hidden">
      <div style="right: auto;">
        <img src="{{ card.image }}" class="w-100" alt="">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium">
            Super awesome, LYCS ALLIO is coming soon!
          </p>
          <p class="op-7">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div>
  <h2>Pour plus d'informations veuillez nous suivre sur nos sites</h2>
  <img src="assets/téléchargement (2).png" alt="Réseaux-Sociaux" style="size:0cqmin;">
</div>

