<mat-sidenav-container class="sidenav-container" style="background-color: rgb(149, 169, 176); color:deeppink; ">


  <mat-sidenav-content>

    <!-- Content -->
    <div class="body-wrapper">
      <div class="page-wrapper">
        <app-home></app-home>
        <router-outlet></router-outlet>
      </div>
    </div>
    <!--<p class="text-center pb-24 fs-16">© 2023 All rights reserved by <a
        href="https://www.wrappixel.com/templates/category/free-angular-templates/" target="_blank"
        class="text-indigo">agencelycs.com</a></p>-->
  </mat-sidenav-content>
</mat-sidenav-container>


