<!-- Form Layout -->
<div class="card">
  <div class="card-body" style="width: 60%; padding: 15px;">
    <h4 class="mb-32" style= "text-align: center; color:blueviolet">USER LOGIN</h4>
    <form >
      <mat-form-field class="w-100 fs-16" appearance="outline" style="text-align:center" >
        <mat-label>Username</mat-label>
        <input  name="username" type="text" placeholder="Entrer votre nom d'utilisateur">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Password</mat-label>
        <input  name="password" type="password" placeholder="Entrer votre mot de passe">
      </mat-form-field>
      <button mat-button class="btn btn-info fw-normal" type="submit">Se Connecter</button>
    </form>
  </div>
</div>
