<div class="row" >
  <div class="col-lg-4" *ngFor="let acc of acc1">
    <mat-card class="overflow-hidden" style="width:500px; height:500px; margin:90px; right:50px">
      <div>
        <img src="{{ acc.image }}" class="w-100" alt="" routerLink="/inscription">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium" style="font-weight: bold; text-align:center">
            Boone nouvelle 🥳, LYCS ALLIO est là!!!!
          </p>
          <p class="op-7">
            💸 Bons de Réduction et Promotions: Boostez vos ventes avec notre système convivial de bons de réduction et de promotions. Attirez de nouveaux clients et fidélisez ceux que vous avez déjà.
          </p>
          <!--<button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>-->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4" *ngFor="let acc of acc2">
    <mat-card class="overflow-hidden" style="width:500px; height:500px; margin:90px; right:50px">
      <div>
        <img src="{{ acc.image }}" class="w-100" alt="" routerLink="/inscription">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium" style="font-weight: bold; text-align:center">
            Boone nouvelle 🥳, LYCS ALLIO est là!!!!
          </p>
          <p class="op-7">
            🚀 Mettez en Ligne Vos Articles: Offrez à vos clients un accès facile à votre catalogue d'articles. Présentez vos produits de manière attrayante et touchez une audience plus large.
          </p>
          <!--<button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>-->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4" *ngFor="let acc of acc3">
    <mat-card class="overflow-hidden" style="width:500px; height:500px; margin:90px; right:50px">
      <div>
        <img src="{{ acc.image }}" class="w-100" alt="" routerLink="/inscription">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium" style="font-weight: bold; text-align:center">
            Boone nouvelle 🥳, LYCS ALLIO est là!!!!
          </p>
          <p class="op-7">
            🌐 Visibilité Optimale: Maximisez votre visibilité en ligne et rejoignez une communauté en pleine croissance. LYCS ALLIO vous connecte avec des clients potentiels et vous donne une plateforme pour briller.
          </p>
          <!--<button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>-->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
