<mat-toolbar class="header ps-24 pe-24" style="background-color: rgb(149, 169, 176);" >
  <div class="row" >
        <div class="alert alert-info" style="right: auto; color:rgb(20, 17, 18)">
            Vous n'avez pas encore de compte ?
            <button   style="color: blueviolet;">Inscrivez-vous</button> maintenant !
        </div>
        <div class="alert alert-info" style="right: auto; color:rgb(20, 17, 18)">
          Sinon
          <button  style="color: blueviolet;">Se connecter</button>
        </div>
        </div>
</mat-toolbar>

<div >
  <div class="row" style="display: flex; justify-content: center; align-items: center">
    <div class="col-lg-8" >
      <app-cards></app-cards>
    </div>
  </div>
</div>


