
<div class="content" style="background-color:rgb(62, 19, 62);">
  <div class="marquee-container" style="background-color:white; padding: 60px; margin:60px">
    <div>
      <span style="font-size: 25px; font-weight: bold; color:blueviolet;">Bienvenue sur LYCS ALLIO - Votre Plateforme Commerciale en Ligne</span>
    </div>
    <div>
      <span style="font-size: 20px; font-weight: bold; color:black; padding: 45px;">Chez LYCS ALLIO, nous offrons bien plus qu'une simple plateforme en ligne. Nous sommes le catalyseur de votre succès commercial, fournissant aux entreprises les outils nécessaires pour prospérer dans le monde numérique d'aujourd'hui.</span>
    </div>
    <div>
      <span style="font-size: 20px; font-weight: bold; color:black; padding: 45px;">🔒 Inscrivez-vous dès maintenant pour débloquer toutes les fonctionnalités! Créez votre compte et commencez à bénéficier de notre suite complète d'outils de commerce électronique.
        <div style="margin: 15px;">
        🚪 Déjà membre? Connectez-vous pour explorer de nouvelles opportunités! Gérez vos produits, créez des campagnes de marketing et restez connecté avec vos clients.</div>
        <div>
          <a routerLink="/inscription" style="color: darkorchid; font-weight: bold; font-size:20px; margin:30px">Inscription</a>
          <a routerLink="/connexion" style="color: darkorchid; font-weight: bold; font-size:20px">Connexion</a>
        </div>
      </span>
    </div>
  </div>
  <div class="row-5">
    <app-acc></app-acc>
    <router-outlet></router-outlet>
    <div class="col-">
    </div>
  </div>
</div>

<!--  <div class="container">
    <div class="row-3" style="background-color: blueviolet;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/inscription" style="color: darkorchid; font-weight: bold; font-size:20px">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/connexion" style="color: darkorchid; font-weight: bold; font-size:20px; margin:20px">Connexion</a>
              </li>
            </ul>
            <form class="d-flex">
              <a class="nav-link active" aria-current="page" routerLink="/deconnexion" style="font-weight: bold; color:blueviolet; font-size:20px">Se Déconnecter</a>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>-->
